@CHARSET "UTF-8";

/* Resrt */
* {
	margin:0;
	padding:0;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tr,th,td,article,aside,canvas,figcaption,figure,footer,header,hgroup,menu,nav,section {	
	margin:0;
  padding:0;
  border: 0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}

nav, ul {
  list-style:none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content:'';
    content:none;
}

a, a:hover, a:link, a:visited, a:active {
    margin:0;
    padding:0;
    text-decoration: none;
    color: #000;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}