@CHARSET "UTF-8";

/* workshop */
.workshop_page {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.workshop_ttl {
	text-align: left;
	margin-top: 10px;
	font-size: 30px;
	color: #888;
}
.account_login {
	text-align: left;
	padding-top: 10px;
}
.account_name {
	color: #00f;
}
.cms_account {
	margin-top: 10px;
}
.workshop_account:after {
	content: "";
	clear: both;
	display: block;
}
.workshop_account li {
	float: left;
	padding: 5px;
}
#article_wrapper {
	margin-top: 10px;
	width: 100%;
}
#article_box ul {
	border: 2px solid #ccc;	
	padding: 3px;
}

#article_box li {
	margin: 5px;
	border: 1px solid #ccc;
}
.article_list {
	margin-top: 10px;
	border: 1px solid #ccc;
	min-height: 200px;
}
.article_list:after {
	content: "";
	clear: both;
	display: block;
}
.article_set {
	width: 100%;
}
.article_date {
	border-bottom: 1px solid #ccc;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	overflow: hidden;
	font-size: .8em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.article_title {
	border-bottom: 1px solid #ccc;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.article_body {
	width: 100%;
	text-align: left;
	word-break: break-all;
	padding: 5px;
	overflow: hidden;
}


/* タブレット */
@media screen and (min-width: 481px) {

}
/* PC */
@media screen and (min-width: 769px) {

}
